html 
{
    font-family: Lucida Sans;
    font-size: large;
    background-color: cadetblue;
    color: sandybrown;
}

table
{
    padding: 10pt;
    border: 4pt solid aquamarine;
    background-color: seashell;
}

